{% extends 'base.html' %}

{% block content %}
<h1 class="text-center text-primary mb-4">ADD EMPLOYEES INFO</h1>

<div class="container d-flex justify-content-center align-items-center">

    <form method="POST" class="shadow p-4 bg-light rounded p-5 m-3">
        {% csrf_token %}

        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.fullname.id_for_label }}" class="fs-4">Full Name</label>
            {{ employee_form.fullname }}
            {% if employee_form.fullname.errors %}
            <div class="text-danger">{{ employee_form.fullname.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.email.id_for_label }}" class="fs-4">Email</label>
            {{ employee_form.email }}
            {% if employee_form.email.errors %}
            <div class="text-danger">{{ employee_form.email.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.mobile_no.id_for_label }}" class="fs-4">Mobile Number</label>
            {{ employee_form.mobile_no }}
            {% if employee_form.mobile_no.errors %}
            <div class="text-danger">{{ employee_form.mobile_no.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.destination.id_for_label }}" class="fs-4">Destination</label>
            {{ employee_form.destination }}
            {% if employee_form.destination.errors %}
            <div class="text-danger">{{ employee_form.destination.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.dob.id_for_label }}" class="fs-4" type="date" name="dob">Date of Birth</label>
            {{ employee_form.dob }}
            {% if employee_form.dob.errors %}
            <div class="text-danger">{{ employee_form.dob.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.gender.id_for_label }}" class="fs-4">Gender</label>
            {{ employee_form.gender }}
            {% if employee_form.gender.errors %}
            <div class="text-danger">{{ employee_form.gender.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.department.id_for_label }}" class="fs-4">Department</label>
            {{ employee_form.department }}
            {% if employee_form.department.errors %}
            <div class="text-danger">{{ employee_form.department.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.location.id_for_label }}" class="fs-4">Location</label>
            {{ employee_form.location }}
            {% if employee_form.location.errors %}
            <div class="text-danger">{{ employee_form.location.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.salary.id_for_label }}" class="fs-4">Salary (Per Month)</label>
            {{ employee_form.salary }}
            {% if employee_form.salary.errors %}
            <div class="text-danger">{{ employee_form.salary.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.experience.id_for_label }}" class="fs-4">Experience (Years)</label>
            {{ employee_form.experience }}
            {% if employee_form.experience.errors %}
            <div class="text-danger">{{ employee_form.experience.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <label for="{{ employee_form.age.id_for_label }}" class="fs-4">Age</label>
            {{ employee_form.age }}
            {% if employee_form.age.errors %}
            <div class="text-danger">{{ employee_form.age.errors.0 }}</div>
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between p-2">
            <button type="reset" class="btn btn-danger me-2">CANCEL</button>
            <button type="submit" class="btn btn-success">ADD</button>
        </div>
    </form>

</div>
{% endblock %}
